fastapi
uvicorn
python-multipart
websockets
# SadTalker dependencies
scipy
gradio
imageio-ffmpeg
einops
gfpgan
face-alignment
torch==1.13.1+cu117 # Match your GPU driver
torchaudio==0.13.1+cu117
torchvision==0.14.1+cu117
safetensors
dlib
librosa