fastapi
uvicorn
python-multipart
websockets
# SadTalker dependencies
scipy
gradio
imageio-ffmpeg
einops
gfpgan
face-alignment
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
safetensors
dlib
librosa
scikit-learn==1.3.2
joblib==1.1.1
